---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="outryx Support"
      description="Experiencing an issue? Let us know and we'll get back to you shortly."
    />
    <Form />
  </div>
</Section>
