---
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact-pic.png";
---
<div
  class="flex relative justify-start items-center p-[60px] bg-[#F3F3F3] rounded-[45px] overflow-hidden"
>
  <div class="bg-gray sm:p-6 h-full w-full lg:max-w-lg">
    <h2 class="text-black text-3xl font-bold mb-4">Need Help?</h2>
    <p class="text-black mb-8">Submit a support ticket and our team will get back to you soon.</p>
    <div id="zsfeedbackwidgetdiv"></div>
  </div>
  <picture class="absolute right-[-25%] top-[2%] bottom-[2%] hidden lg:block">
    <Image src={decorForm} alt="decor" />
  </picture>
</div>

<script src="https://desk.zoho.com/portal/api/feedbackwidget/1316748000000412003?orgId=921359537&displayType=popout"></script>
