---
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact-pic.png";
---
<div
  class="flex relative justify-start items-center p-[60px] bg-[#F3F3F3] rounded-[45px] overflow-hidden"
>
  <div class="bg-gray sm:p-6 h-full w-full lg:max-w-lg">
    <h2 class="text-black text-3xl font-bold mb-4">Need Help?</h2>
    <p class="text-black mb-8">Submit a support ticket and our team will get back to you.</p>
    <iframe
      src="https://desk.zoho.com/support/fbw?formType=AdvancedWebForm&fbwId=edbsnf18151514662c50c70f6b3b80c78b38741762cbe7c7c32e66762593c177bab50&xnQsjsdp=edbsnc6c0d4bc795aa6aa9bfeb55ebccf4ab3&mode=showNewWidget&displayType=iframe"
      width="100%"
      height="570"
      name="zsfeedbackFrame"
      scrolling="no"
      allowtransparency="true"
      frameborder="0"
      border="0"
      class="rounded-[14px]"
    ></iframe>
  </div>
  <picture class="absolute right-[-25%] top-[2%] bottom-[2%] hidden lg:block">
    <Image src={decorForm} alt="decor" />
  </picture>
</div>
