---
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact-pic.png";
---

<script src="https://desk.zoho.com/portal/api/feedbackwidget/1316748000000412003?orgId=921359537&displayType=embeded"></script>
<div id="zsfeedbackwidgetdiv"></div>   <input
    
<style>
  .form-checkbox {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  .form-checkbox:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--green);
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
  }

  .form-checkbox:checked:before {
    transform: scale(0.6);
  }
</style>
<script>
  function formSetup() {
    var cb1 = document.getElementById("checkbox1") as HTMLInputElement;
    var cb2 = document.getElementById("checkbox2") as HTMLInputElement;
    var message = document.getElementById("message") as HTMLInputElement;

    if (cb1 && cb2) {
      cb1.checked = true;

      cb2.addEventListener("change", function () {
        if (cb2.checked) {
          cb1.checked = false;
          message.value =
            "We're interested in your services! Please contact us";
        } else {
          message.value = "";
          cb1.checked = true;
        }
      });
      cb1.addEventListener("change", function () {
        if (cb1.checked) {
          cb2.checked = false;
          message.value = "";
        } else {
          cb2.checked = true;
          message.value =
            "We're interested in your services! Please contact us";
        }
      });
    }
  }

  formSetup();
  document.addEventListener("astro:after-swap", formSetup);
</script>
