---
import Card from "./Card.astro";

const { index, titleTop, titleBottom, description } = Astro.props;
---

<Card isUnderline={true}>
  <div
    class=`w-full p-8 sm:p-[50px] rounded-[45px] ${index === 1 ? 'bg-gray' : index === 2 ? 'bg-green' : 'bg-dark text-gray'}`
  >
    <h3 class="flex flex-col mb-5">
      <span class=`w-[fit-content] ${index === 1 ? 'greenhead' : 'whitehead'}`
        >{titleTop}</span
      >
      <span class=`w-[fit-content] ${index === 1 ? 'greenhead' : 'whitehead'}`
        >{titleBottom}</span
      >
    </h3>
    <p class=`text-base ${index === 3 ? 'text-gray' : 'text-black'}`>
      {description}
    </p>
  </div>
</Card>